# Godot ignores
.godot/
.import/
export.cfg
.mono/
.build/
mono_crash.*.json
.DS_Store

# Archivos de exportación
*.apk
*.pck
*.exe
*.x86_64
*.app
*.dmg

# Archivos de sistema
Thumbs.db
.DS_Store

# Archivos de configuración local
*.bak
*.tmp
